<html>
    <body>
        <form action="http://localhost:5000/result" method='POST'>
            <P> Name </p>
            <p> <input type='text' name='Name' /> </p>
            <P> Physics </p>
            <p> <input type='text' name='Physics' /> </p>
            <P> Chemistry </p>
            <p> <input type='text' name='Chemistry' /> </p>
            <P> Maths </p>
            <p> <input type='text' name='Mathematics' /> </p>

            <p> <input type='submit' value='submit' /> </p>
        </form>
    </body>
</html>
